:root {
  --primary-color: rgb(159, 181, 173); 
    --primary-color-opacity: #ffffffcb;
  --secondary-color:orange;
  --dark-color: rgb(48, 48, 48);
  --dark-color-opacity: rgba(48, 48, 48, 0.9);
  --light-color: rgb(246, 246, 248);
  --container-color: rgba(199, 211, 207, 0.9);
  --grey-color: rgb(92, 92, 92);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo', sans-serif;
  color: var(--dark-color);
  background: var(--dark-color);
  background-repeat: none;
  background-attachment: fixed;
}

.container {
  border-radius: 0.2rem;
}

h1, h2, h3 {
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#projects, #skills {
  padding: 3rem;
}

/* ================= HEADER ================= */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  font-family: 'Inconsolata', monospace;
  font-size: 2.5rem;
  padding-left: .5rem;
}

.logo a {
  text-decoration: none;
  color: var(--secondary-color);

}

header nav .hamburger {
  display: none;
}

header nav ul {
  list-style-type: none;
  text-transform: uppercase;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li i {
  color: var(--secondary-color);
}


header nav ul li .nav-item {
  text-decoration: none;
  color: var(--light-color);
  padding: 2.85rem 3rem;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

header nav ul li .nav-item:hover {
  background-color: var(--secondary-color)
}

header nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 2.85rem;
  left: 0;
  background-color: var(--primary-color-opacity);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

header nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

header nav ul li ul li {
  width: 100%;
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

header nav ul li ul li:hover {
  background-color: var(--secondary-color);
}

header nav ul li ul li a {
  text-decoration: none;
  color: var(--dark-color);
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

/* ============hero-banner============ */

#hero-banner {
  position: relative;
  /* background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1266&q=80") no-repeat fixed center center/cover; */
  /* background: url('https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2110&q=80') fixed center center/cover; */
  /* background-color: orange; */
  background: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80') fixed center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  position: relative;
  margin: 0 auto;
  padding-top: 8rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.315);
  top: 0;
  left: 0;
  z-index: 0;
}

#profile-pic {
  width: 150px;
  z-index: 6;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#typing {
  font-size: 5rem;
  color: black;
    padding: 0;
    margin-bottom: 2rem;
  border: 2px solid var(--light-color);
  border-radius: 5px;
  display: inline-block;
  width: 22rem;
  padding: 0 .5rem;
  }

  #name {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--light-color);
    margin-bottom: 1rem;
  }

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-text p {
  color: var(--light-color);
  width: 400px;
}

#resume {
  color: var(--secondary-color);
}

#hero-banner .hero-content h1 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 500;
}

h1 #h1-dif-color {
  color: var(--secondary-color);
}

/* ==============Projects============= */

.projects {
  /* background: url("https://images.unsplash.com/photo-1515705576963-95cad62945b6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") */
    /* no-repeat center center/cover fixed; */
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  padding-bottom: 2rem;
}

.project-info {
  height: 650px;
}

.project-info ul {
  list-style-type: none;
}

.project-img img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project-title {
  color: var(--light-color);
  font-size: 1.5rem;
  margin: 1rem 0;
}

.project-description {
  width: 400px;
  margin: 0 auto;
  font-size: 1rem;
}

.project-link {
  margin-top: .4rem;
}

.project-link a {
  color: var(--secondary-color);
  text-decoration: none;
}

#root > div > div.Main > div > div.sc-eCssSg.galrjd.rec.rec-carousel {
  padding: 2rem;
  background-color: var(--dark-color);
}

#root > div > div.Main > div > div.sc-iBPRYJ.bkVSTc.rec.rec-pagination {
  background-color: var(--dark-color);
}

#root > div > div.Main > div > div.sc-eCssSg.galrjd.rec.rec-carousel > button.sc-bdfBwQ.lgksPe.rec.rec-arrow.rec.rec-arrow-right, #root > div > div.Main > div > div.sc-eCssSg.galrjd.rec.rec-carousel > button.sc-bdfBwQ.lgksPe.rec.rec-arrow.rec.rec-arrow-left {
  color: white;
  background-color: var(--secondary-color);
}
#root > div > div.Main > div > div.sc-iBPRYJ.bkVSTc.rec.rec-pagination > button.sc-gKsewC.cJeRRR.rec.rec-dot.rec.rec-dot_active {
  background-color: var(--secondary-color);
  border: 1px solid white;
  box-shadow: none;
}

#root > div > div.Main > div > div.sc-eCssSg.galrjd.rec.rec-carousel > button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec.rec-arrow-left {
  background-color: var(--secondary-color);
}

#root > div > div.Main > div > div.sc-eCssSg.galrjd.rec.rec-carousel > button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec.rec-arrow-right {
  background-color: var(--secondary-color);
}

/* ===========EXPERIENCE========== */

#experience {
  padding: 0;
  clear: both;
  display: flex;
  background-color: var(--secondary-color);
}

#experience img {
  flex: 1;
  width: 50%;
}

#experience .content {
  flex: 1;
  line-height: 2rem;
  padding: 0 2rem;
}

#experience h2 {
  font-size: 2rem;
  margin: 0;
  padding: 2rem 0;
  color: var(--dark-color);
}

/* ===========SKILLS=========== */

#skills {
  /* background: url("https://images.unsplash.com/photo-1515705576963-95cad62945b6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center/cover fixed; */
    background-color: var(--dark-color);
  scroll-margin-top: 2em;
  position: relative;
  width: 100%;
  height: 100%;
}

#skills h2 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.skills-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.progress-group {
  text-align: center;
  background-color: var(--light-color);
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px black;
}

.progress-group:nth-child(2n){
  background-color: var(--grey-color);
  color: white;
}

.progress-group label i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.progress-group .typescript-logo, .progress-group .mongodb-logo {
  width: 48px;
  color: var(--dark-color);
  max-height: 48px;
}

.progress-group progress[value] {
  width: 6rem;
  display: block;
  appearance: none;
}

.progress-group progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-group progress[value]::-webkit-progress-value {
  background-color: var(--secondary-color);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* ======== GALLERY ========= */

#gallery{
  margin-top: 5rem;
  padding: 3rem;
  color: var(--light-color);
}

#gallery a {
  text-decoration: none;
  color: var(--secondary-color);
}

#gallery h2{
  margin: 0;
  padding: 0;
  color: var(--light-color);
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(6 1fr);
  grid-template-rows: repeat(6 1fr);
  height: 70vh;
  width: 100%;
  gap: 0.5rem;
  position: relative;
  margin-top: 1rem;
}

.grid-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 
        transform 500ms cubic-bezier(.5, 0, .5, 1),
        opacity 500ms ease-in-out;
        position: relative;
}

.grid-item:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.grid-item-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.grid-item-2 {
  grid-area: 1 / 3 / 4 / 5;
}

.grid-item-3 {
  grid-area: 1 / 5 / 2 / 6;
}
.grid-item-4 {
  grid-area: 1 / 6 / 4 / 7;
}
.grid-item-5 {
  grid-area: 3 / 1 / 7 / 3;
}
.grid-item-6 {
  grid-area: 4 / 3 / 7 / 5;
}
.grid-item-7 {
  grid-area: 2 / 5 / 3 / 6;
}
.grid-item-8 {
  grid-area: 4 / 5 / 7 / 7;
}
.grid-item-9 {
  grid-area: 3 / 5 / 4 / 6;
}

/* ============= ANIMATION ============ */

#animation {
  position: absolute;
  /* background: var(--secondary-color); */
  background: black;
  height: 100vh;
  width: 100%;
  top: 3rem;
}
.cogwheels {
  position: absolute;
  margin: 15rem auto;
  height: 410px;
  width: 200px;
  position: relative;
}

.cogwheels img {
  height: 200px;
}

.cogwheel-1 {
  animation: cogwheel-animation1 infinite linear 5s;
  -webkit-animation: cogwheel-animation1 infinite linear 5s;
}

.cogwheel-2 {
  animation: cogwheel-animation2 infinite linear 5s;
  -webkit-animation: cogwheel-animation2 infinite linear 5s;
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.cogwheel-3 {
  animation: cogwheel-animation2 infinite linear 5s;
  -webkit-animation: cogwheel-animation2 infinite linear 5s;
  position: absolute;
  left: 100px;
  bottom: 50px;
}
.cogwheel-4 {
  animation: cogwheel-animation2 infinite linear 5s;
  -webkit-animation: cogwheel-animation2 infinite linear 5s;
  position: absolute;
  left: 100px;
  top: -150px;
}
.cogwheel-5 {
  animation: cogwheel-animation2 infinite linear 5s;
  -webkit-animation: cogwheel-animation2 infinite linear 5s;
  position: absolute;
  left: -100px;
  top: -150px;
}

@keyframes cogwheel-animation1 {
  0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); opacity: 0.1}
  50% { transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); opacity: 1;}
  100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); opacity: 0.1;}
}

@keyframes cogwheel-animation2 {
  0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); opacity: 0.1;}
  50% { transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); opacity: 1;}
  100% { transform: rotate(-360deg); -webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg); -ms-transform: rotate(-360deg); -o-transform: rotate(-360deg); opacity: 0.1;}
}

/* ============FOOTER=========== */

#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2741&q=80') no-repeat center center/cover;
  position: relative;
  height: 45rem;
  padding-top: 3rem;
}

#contact-me::after {
  position: absolute;
  top:0;
  left:0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

#contact-me h2 {
  font-size: 2rem;
  z-index: 1;
  color: var(--secondary-color);
  margin-bottom: 1rem; 
}

#contact-me p {
  text-align: center;
  padding: 1rem;
  color:var(--light-color);
  z-index: 1;
  font-size: 1.3rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.copyright-content {
  position: absolute;
  background-color: var(--dark-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
}

#back-to-top {
  color: var(--secondary-color);
  z-index: 3;
  height: 45px;
  width: 45px;
  display: none;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 0.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
}

#back-to-top:hover {
  cursor: pointer;
}

#back-to-top i {
  font-size: 2rem;
}


/* ============ MEDIA QUERIES ========== */

/* for tablets */


@media (max-width: 768px){

    /* ===mobile-menu===== */
    header{
      display: flex;
    }
    
  
  header nav .hamburger {
     display: inline-block;
     padding: 2rem;
     position: relative;
  }
  
  header nav ul {
      display: none;
      position: absolute;
      top: 4.1rem;
      left: 0;
      background-color: rgba(255, 255, 255, 0);
      width: 100%;
      margin: 0;
      padding: 0;
  }

  span.material-icons {
    color: var(--light-color);
  }
  
  header nav ul.mobilemenu {
     display: block;
  }
  
  header nav ul li {
     display: block;
  }

  header nav ul li .nav-item {
    display: none;
  }

  header nav ul li ul {
     visibility: visible;
     opacity: 1;
     display: block;
     position: relative;
     top: 0;
  }


  .container{
    padding: 0;
  }

  header .logo a img {
    width: 20rem;
    margin: 2rem;
  }
  
  header nav ul li a {
    padding: 1.4rem 1.3rem;
    font-size: 1rem;
  }

  #hero-banner .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content {
    margin-top: 8rem;
  }

  .card-projects {
    width: 90%;
  } 

  #experience {
    padding-top: 0;
    display: block;
  }

  #experience .content {
    height: 100%;
  }

  #experience img {
    width: 100%;
    margin-right: 0;
  }
  .content-projects {
    padding: 0;
  }


#gallery h2 {
  margin-top: 3rem;
}
}


/* for phones  */

@media (max-width: 576px) {

  header{
    width: 100vw;
  }

  header .logo a {
    padding: 1rem;
  }

  header .logo a img {
    margin: 0rem;
    width: 13rem;
    
  }

  header nav ul {
    top: 4.1rem;
    background-color: rgba(255, 255, 255, 0);
}
  a.hamburger{
    padding: 0;
  }
  header nav ul li a {
    padding: 0rem 0.2rem;
    font-size: 0.8rem;
  }

  #hero-banner {
    background: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80') no-repeat fixed center center/cover;
  }

  #hero-banner .hero-content h1 {
    font-size: 1.3rem;
  }

  .hero-content {
    margin-top: 0;
  }

#typing {
  width: 18rem;
}

.profile-text p {
  color: var(--light-color);
  width: 300px;
}

  #profile-pic {
    width: 120px;
  }

  #name {
    font-size: 1.6rem;
  }

  #hero-banner p {
    font-size: .8rem;
  }

  #projects, #skills {
    padding: 0;
  }


#root > div > div.Main > div > div.sc-eCssSg.galrjd.rec.rec-carousel {
  padding: 0;
}

.project-info {
  height: 650px;
  width: 100%;
  padding-top: 1rem;
}

.project-info ul {
  list-style-type: none;
}

.project-img {
  object-fit: cover;
}

.project-img img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.project-title {
  color: var(--light-color);
  font-size: 1rem;
  width: none;
  margin: 1rem 0;
}

.project-description {
  width: 200px;
  margin: 0 auto;
  font-size: 1rem;
  width: none;
}

.project-link {
  margin-top: .4rem;
}

.project-link a {
  color: var(--secondary-color);
  text-decoration: none;
}

#root > div > div.Main > div > div.sc-iBPRYJ.bkVSTc.rec.rec-pagination > button.sc-gKsewC.cJeRRR.rec.rec-dot.rec.rec-dot_active {
  background-color: var(--secondary-color);
  border: 1px solid white;
  box-shadow: none;
}

  .container {
    margin: 0;
    padding: 0rem;
    border-radius: 0;
  }

  #skills .container h2 {
    padding-left: 2rem;
  }

  #projects .container h2 {
    margin-left: 0;
  }

  .card-projects {
    width: 100%;
    height: 450px;
    padding: .5rem;
    /* margin-bottom: 2rem; */
  }

  .card-projects img {
    height: 160px;
  }

  .card-projects h3 {
    font-size: 1.2rem;
  }

  .card-projects p {
    width: 100%;
    font-size: .7rem;
    line-height: normal;
  }

  #skills {
    padding: 0;
    margin: 0;
  }

  #gallery{
    padding: 0.5rem;
    margin-top: 8rem;
  }
  #contact-me p {
    padding: 0;
  }
}

/* screens larger than 992px */

@media (min-width: 992px) {
  header nav ul li a {
    /* padding: 2.9rem 1.6rem; */
    font-size: 1rem;
  }
}